<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679104835051-o5ou1u4ubp3u2arjp5oqopmnfrm965ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679104835051-o5ou1u4ubp3u2arjp5oqopmnfrm965ir</string>
	<key>API_KEY</key>
	<string>AIzaSyDY0KnP_BP20YnYH2MgrsiMo7ww_275gDw</string>
	<key>GCM_SENDER_ID</key>
	<string>679104835051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aebrahima830.zonedeliveryboy</string>
	<key>PROJECT_ID</key>
	<string>zone-app-f764e</string>
	<key>STORAGE_BUCKET</key>
	<string>zone-app-f764e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679104835051:ios:05cf3163de3e8932f63dae</string>
</dict>
</plist>